<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="post">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Email" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password" id="password" required>

            <button type="submit">Login</button>
        </form>
        <p th:if="${error}" th:text="${error}" style="color: red" />
    </body>
</html>